/*
@font-face {
  font-family: 'Mortina';
  src: url('../fonts/Mortina.woff2') format('woff2'),
      url('../fonts/Mortina.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(245, 204, 207);
  font-size: 50px;
  text-align: center;
}

h1 {
  font-family: 'Mortina';
  font-weight: normal;
  font-style: normal;
}
*/
html {
  background-color: rgb(222, 222, 222);
}

body {
  text-align: center;
  margin: 8px 0px;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
}

div {
  display: block;
}

hr {
  margin: 0px;
}

.home {
  background-image: url("../img/IMG_5603.JPG");
  background-size: cover;
  padding: 28px;
  height: 100vh;
}

.homeText {
  margin-top: 314px;
  margin-left: 15px;
  text-align: right;
  padding: 15px;
  color: rgb(222, 222, 222);
}

h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: left;
}

.smallDot {
  border: 4px dotted;
  border-style: none none dotted;
  color: black;
}

.presentionElement {
  margin: 24px;
}

.endPage {
  border-width: 2px 0px; 
  border-style: solid; 
  border-color: blue; 
  margin: 10px 0px;
  padding-top: 15px;
  color: blue;
} 

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoEikon {
  margin: 20px 0px 10px;
}

.containerText{
margin: 18px 0px;
text-align: center;
max-width: 100%;                  
overflow: hidden;                     
}

.border {
text-align: center;
 max-width: 100%;    
 overflow: hidden;        
 padding: 10px 0px;       
}

.text{
 display: inline-block;    
 white-space: nowrap;                  
 color: rgb(222, 222, 222);
}

.anim1{
 animation: MyHomeTitleLeftRight 50s infinite linear;
}

.anim2{
 animation: MyHomeTitleRightLeft 50s infinite linear;
}

.separator{
 border-bottom: rgb(222, 222, 222) solid 1px ;
 margin-left: auto;
 margin-right: auto;
 width: 93%;
}

@keyframes MyHomeTitleLeftRight {
 0% {
   transform: translate(-2%, 0%);
 }
 100% {
  transform: translate(-52%,0%); 
 }
}
@keyframes MyHomeTitleRightLeft {
 0% {
   transform: translate(-50%, 0%);    
 }
 100% {
   transform: translate(0%,0%); 
 }
}
